:root {
    --primary-color:#f7cdd0;;
    --secondary-color: #f7a1b9;
    --main-font: "tt ramillas";
}
body {
    background-color: var(--primary-color);
    font: var(--main-font);
}
.top-links {
    background-color: var(--secondary-color);
    border-radius: 15px; 
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 35px;

}
.order-link {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    border-inline-width: 30px;
    border-inline-color: 0.9;
}
.top-style {
    display: flex;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-size: 30px;
    color: white;
}
.para {
    display: flex;
    justify-content:flex-start;
}
p {
    margin-left: 20px;
    color: white;
}
.about-body {
    background-color: var(--secondary-color);
}