:root {
    --primary-color:#f7cdd0;
    --secondary-color: #f7a1b9;
    --main-font: "tt ramillas";
}
body {
    background-color: var(--primary-color);
    
}
#about-body {
    background-image: url('images/Tammi_web_\ elements\ _About-background_v3.png');
    background-size: 1010px;
    background-repeat: no-repeat;
    margin: 40px;
    width: 1000px;
    height: 650px;
}
#homepage-body {
    background-image: url('images/Tammi-background-3.svg');
    background-size: 1050px;
    text-align: center;
    background-repeat: no-repeat;
}
.top-links {
    background-color: var(--secondary-color);
    border-radius: 15px; 
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: 500;
    margin-top: 35px;

}
#party-body {
    background-image: url('/src/images/Tammi\ web\ elements-Top\ pic-party.svg');
    background-repeat: no-repeat;
    background-size: 2060px;
   
}
.position-absolute img {
  width: 20px;
  height: 20px;
}
.top-style {
    display: flex;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-size: 40px;
    color: white;
}
.para {
    display: flex;
    justify-content:flex-start;
    font-size: 15px;
}
p {
    margin-left: 20px;
    color: white;
}
.logo {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
}
.para ul {
    color: white;
}
.para2 {
    font-size: 20px;
    text-align:left;
}
    .party-bar {
        background-color: var(--primary-color);
        border-radius: 10px;
        color: black;
    }
    #home-tab2:hover {
        color:#f7a1b9;
    }
    image-gallary{
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-gap: 10px;
    }
  
.image-gallary img {
    margin-top: 20px;
    padding: 20px;
    max-width: 1000px;
    max-height: 300px;
    border-radius: 24px;
}
.backc {
   background-color: var(--secondary-color);
}
.radius {
    border-radius: 50px;
}
.glam-pack {
    background-color: #ffeaf0;
    text-align: center;
    display: block;
    padding: 50px 50px;

}
.mini-glam {
    background-color: #ffeaf0;
    color: black;
    text-align: center;
    border-radius: 40px;
    width: 100px;
    height: 250px;
    border-image: url('/src/images/Tammi\ web\ elements-party-oringinal.svg');
}
.mini-glam p {
    color: white;
    text-align: left;
    font-weight: bold;
}
.party-bar a:hover {
color: white;
font-size: 15px;
font-weight: bold;
}
.card {
    background-image: url('/src/images/Tammi\ web\ elements-party-oringinal.svg');
}
.pack1 {
    text-align: center;
    margin-top: 450px;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 40px;
}